/* #region Сброс */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: serif;
  min-height: 3922px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* #endregion Сброс*/

/* #region Общее */

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Lato", sans-serif;
}

.container--common {
  max-width: 1200px;
  /* 1140+30+30=1200 */
  padding: 0 30px;
  margin: 0 auto;
}

img {
  /*  Адаптивное изображение */
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

/* #endregion Общее */

/* #region Header */

.header {
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../img/Header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 782px;
}

/* #region Header Menu */

.section--header-menu {}

.header-menu--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 140px;
  margin: 0 auto;
  gap: 15px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.logo--a {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  display: block;
  padding: 10px;
  border-radius: 5px;
}

.logo--a:hover {
  background-color: #ED4C5C;
}

.header__nav {}

.header__nav ul {
  display: flex;
  list-style: none;
  gap: 0px;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 50px;
}

.header__nav-a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.header__nav--li {
  padding: 10px;
  border-radius: 5px;
}

.header__nav--li:hover {
  background-color: #ED4C5C;
}

.header-menu--sign-in-btn {
  border: 1px solid #fff;
  border-radius: 6px;
  width: 100px;
  height: 40px;
  margin-right: 20px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: transparent;

  cursor: pointer;
}

.header-menu--sign-in-btn:hover {
  background-color: #ED4C5C;
}

/* #endregion Header Menu */

/* #region header content */
.section--header-content {}

.header__content {
  padding-top: 116px;
  text-align: center;
}

.header__h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(30px, 5vw, 72px);
  /* 72px от 1440px это 5% */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}

.header__h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(14px, 1.667vw, 24px);
  /* 24px от 1440px это 1,667% */
  line-height: 150%;
  text-align: center;
  color: #fff;

  margin-bottom: 55px;
}

.header__btn {
  border-radius: 6px;
  border-width: 0;
  width: 160px;
  height: 50px;
  background: #fff;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ed4c5c;
}

/* #endregion header content */

/* #endregion Header*/

/* #region Section video */
.section--video {}

.video__container {
  display: flex;
  justify-content: center;
  column-gap: 125px;
  row-gap: 30px;
  flex-wrap: wrap;

  padding: 94px 0;
  /* padding-right: 100px; */
}

.video__left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;

  padding-top: 23px;
  padding-left: 6px;
}

.video__h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  color: #000;

  margin-bottom: 47px;
}

.video__p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000;

  margin-bottom: 15px;
}

.red-color {
  color: #ed4c5c;
}

.video__right-side {}

/* #endregion Section video */

/* #region Capability */
/* Код написан автором курса */
.section--capability {
  min-height: 660px;
  background: #fafafa;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 59px 15px;
  margin: 0 auto;
}

.section--capability h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #000;

  margin-bottom: 75px;
}

.capability__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 30px;
  row-gap: 150px;
}

.capability__item {
  position: relative;
  border-radius: 8px;
  max-width: 350px;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.item1 {
  background-image: url(../img/item1.png);
}

.item2 {
  background-image: url(../img/item2.png);
}

.item3 {
  background-image: url(../img/item3.png);
}

.capability__inside {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  padding-top: 23px;
  padding-bottom: 25px;
  text-align: center;

  max-width: 290px;
  width: 100%;
  top: 158px;
}

.capability__inside h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #101010;

  padding-bottom: 17px;
}

.capability__inside p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #101010;

  margin-bottom: 15px;
}

.capability__inside a {
  text-decoration: none;
  transition: 0.3s all;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #ed4c5c;
}

.capability__inside a:hover {
  color: #af3944;
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 59px 15px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding-bottom: 200px;
  }

  .capability__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 150px;
  }
}

@media screen and (max-width: 800px) {
  .capability__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 430px) {
  .capability__item {
    width: 100%;
    padding: 0px;
  }

  .capability__inside {
    padding: 10px;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .capability__grid {
    row-gap: 100px;
  }
}

/* #endregion Capability */

/* #region Section features */
.section--features {
  min-height: 500px;
  padding-bottom: 70px;
}

.features__h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #000;

  padding-top: 69px;
  margin-bottom: 63px;
}

.features__items-container {
  display: flex;
  justify-content: center;
  gap: 95px;
  flex-wrap: wrap;
}

.features__item {
  position: relative;
  text-align: center;
}

.features__item--digits {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 100px;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);

  margin-bottom: 10px;
}

.features__item--icon {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.features__item--h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #101010;

  margin-bottom: 10px;
}

.features__item--p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #000;
  max-width: 190px;
}

/* #endregion Section features */

/* #region Section download */
.section--download {
  min-height: 500px;
  background: #ed4c5c;
  padding-top: 95px;
  padding-bottom: 95px;
}

.download__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 125px;
  row-gap: 30px;

}

.download__left-side {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.download__h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  color: #fff;
  margin-bottom: 45px;
}

.download__p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #fff;

  margin-bottom: 45px;
}

.download__icons {}

.download__icon1 {
  margin-right: 17px;
}

.download__icon2 {}

.download__right-side {
  /* padding-right: 95px; */
}

/* #endregion Section download */

/* #region Section contact us */
.section--contact-us {
  min-height: 500px;
  background-color: #b69a9a;
}

.contact-us__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 160px;
  column-gap: 125px;
}

.contact-us__left-side {
  display: flex;
  flex-direction: column;

}

.contact-us-h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  color: #000;
}

.contact-us__p {
  max-width: 445px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000;
}

.contact-us__right-side {
  max-width: 540px;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* Это свойство указывает, может ли вырастать флекс-элемент при наличии свободного места, и насколько. По умолчанию значение равно 0. Значением может быть любое положительное целое число (включая 0).
  Если у всех флекс-элементов будет прописано flex-grow: 1, то свободное пространство в контейнере будет равномерно распределено между всеми. */
}

.contact-us__input {
  max-width: 540px;
  border: 5px solid #333;
  border-radius: 6px;
  height: 60px;
}

.contact-us__btn {
  width: 160px;
  height: 50px;
}

/* #endregion Section contact us */